body {
    background-color: rgb(0, 0, 60);
}

h1, h2 {
    color: aliceblue;
}

#flashcard-btn {
    width: 50%;
    height: 35%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: gray;
    color: aliceblue;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-box {
    position: relative;
    background-color: rgb(20, 20, 20);
    padding: 5px 30px 30px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.hidden {
    display: none !important;
}

.exit-icon {
    border: none;
    outline: none;

    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: dimgray;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;

    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.exit-icon:hover {
    background-color: red;
}